#room {
  position: absolute;
  inset: 0;
  background-image: url("../assets/backgrounds/room.png");
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
}

#character {
  position: absolute;
  left: 50%;
  top: -10%;
  width: 40%;   /* scaled up from 32x32 */
  height: 100%;
}
